$Gray1: #333333;
$Gray2: #4F4F4F;
$Gray3: #828282;
$Gray4: #BDBDBD;
$Gray5: #E0E0E0;
$Gray6: #F2F2F2;
$Green1: #219653;
$Green2: #27AE60;
$Green3: #6FCF97;
$Orange: #F2994A;
$Red: #EB5757;
$Yellow: #F2C94C;
$Accent: #88b1b1;